.cabecalho{
    background-color: var(--cor5);
    display: grid;
    grid-template-columns: auto 1fr auto;
    height: 60px;
}
.cabecalho__img{
    width: 50px;
    margin: 7px 0 7px 30px ;
}
.cabecalho__nav{
    align-self: flex-end;
}
.cabecalho__lista{
    display: flex;
    gap: 1.5rem;
    padding-left: 3rem;
    height: auto;
    margin: 0 0 5px 0;
}
.cabecalho__lista--item{
    list-style: none;
}
.cabecalho__lista--link{
    text-decoration: none;
    color: var(--cor2);
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.cabecalho-direito{
    display: flex;
    align-items: center;
}
.cabecalho-direito__lista{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
}
.cabecalho-direito__lista--item{
    margin-right: 30px;
}
.cabecalho-direito__lista--img{
    height: 45px;
}

/* ABAIXO SÃO CONFIGURAÇÕES DO HOVER*/

.cabecalho__lista--link:hover{
    color: var(--cor6);
    font-size: 1.25rem;
}