.rodape{
    background-color: var(--cor7);
    height: ;
    margin-top: 10em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.rodape__container{
    display: flex;
    justify-content: center;
}
.rodape__nome{
    padding-left: 1em;
    padding-top: 1em;
    color: var(--cor8);
    font-size: 1.5em;
    font-weight: 700;
}
.rodape__lista{
    display: flex;
    justify-content: space-between;
    gap: 5em;
    margin: 0;
}
.rodape__lista--item{
    list-style: none;
    margin: 0 0px;
}
.rodape__lista--link{
    text-decoration: none;
    color: var(--cor2);
    font-size: 1.5em;
    font-weight: 100;
}

/* CONFIGURAÇÕES DE LOCALIZAÇÃO E TELEFONE*/

.rodape-localização{
    margin-left: 30px;
}
.rodape-localização__lista{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.rodape-localização__lista--item{
    text-decoration: none;
    color: var(--cor2);
    display: flex;
    gap: 15px;
    align-items: center;
}
.rodape-localização__img{
    height: 1em;
}

/* CONFIGURAÇÕES DE REDES SOCIAIS */

.rodape__social{

}
.rodape__social--lista{
    display: flex;
    gap: 40px;    
    justify-content: end;
    padding: 0 40px 20px 0;
}
.rodape__social--lista-item{
    list-style: none;
}
.rodape__social--lista-link{
    text-decoration: none;
    color: var(--cor2);
    display: flex;
    gap: 5px;
    align-items: center;
}
.rodape__social--lista-img{
    height: 1em;
}