@import url(cabecalho.css);
@import url(banner.css);
@import url(card.css);
@import url(terceira-secao.css);
@import url(quarta-secao.css);
@import url(rodape.css);

:root{
    --cor1: #000000;
    --cor2: #ffffff;
    --cor3: #46494c;
    --cor4: #c5c3c6;
    --cor5: #1985a1;
    --cor6: #dcdcdd;
    --cor7: gray;
    --cor8: #46494c;


}

body{
    background-color: var(--cor6);
}